*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: #222;
}
.card{

    width: 90%;
max-width: 470px;
background: linear-gradient(135deg,#00feba,#5b548a);
color: #fff;
margin: 100px auto 0;
border-radius: 20px;
padding: 40px 35px;
text-align: center;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.search input{

    margin: 0;
    padding: 0.6rem 1.6rem;
    margin-right: 1rem;
    border: 0;
    outline: 0;
    background: #ebfffc;

height: 60px;
border-radius: 1.9rem;
flex: 1;
font-size: 1.1rem;


}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;


    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.search button img{
    width : 16px;
}
.weather-icon{

    width: 170px;
    margin-top: 1.6rem;
}
.weather h1{

    font-size: 5rem;
    font-weight: 500;
}
.weather h1{

    font-size: 2.8rem;
    font-weight: 400;
    margin-top: -0.6rem;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.1rem;
}
.col img{

    width: 40px;
    margin-right: 0.6rem;
}
.humidity,  .wind{


    font-size: 1.8rem;

    margin-top: -0.4rem;
}